.threads {
  border: 1px solid black;
  width: 1000px;
  margin: 50px auto;
}

.threads h3 {
  text-align: center;
  background-color: rgb(151, 103, 0);
  color: white;
  margin: 0px;
  padding: 10px 0px;
}